@using RhinoDB.Server.Data;

@{
    ViewData["title"] = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (ViewData["title"] is string title && !string.IsNullOrWhiteSpace(title))
    {
        <title>@title - @ApplicationData.ApplicationName</title>
    }
    else
    {
        <title>@ApplicationData.ApplicationName</title>
    }
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/7f83c16cce.js" defer crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
@RenderBody()
</body>
</html>